### 1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).

In [3]:
tuple1 = (10,20,30)
tuple2 = (40,50,60)
print(tuple1)
print(tuple2)

(10, 20, 30)
(40, 50, 60)

#### a. Concatenate the two tuples and store it in “t_combine”

In [5]:
t_combine = tuple1+tuple2
print(t_combine)

(10, 20, 30, 40, 50, 60)

#### b. Repeat the elements of “t_combine” 3 times

In [22]:
t_combine = (tuple1+tuple2)*3
print(t_combine)

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

#### c. Access the 3rd element from “t_combine”

In [24]:
t_combine[2]

30

#### d. Access the first three elements from “t_combine”

In [25]:
t_combine[0:3]

(10, 20, 30)

#### e. Access the last three elements from “t_combine”

In [30]:
t_combine[-3:]

(40, 50, 60)

### 2. Create a list ‘my_list’ with these elements:

#### a. First element is a tuple with values 1,2,3

#### b. Second element is a tuple with values “a”,”b”,”c”

#### c. Third element is a tuple with values True,False

In [68]:
my_list = [[1,2,3],['a','b','c'],[True,False]]
print(my_list)
print(my_list[0])
print(my_list[1])
print(my_list[2])

[[1, 2, 3], ['a', 'b', 'c'], [True, False]]
[1, 2, 3]
['a', 'b', 'c']
[True, False]

### 3. Append a new tuple – (1,’a’,True) to ‘my_list’

In [65]:
t = (1,'a',True)
print(t)

(1, 'a', True)

In [70]:
my_list.append(t)
print(my_list)

[[1, 2, 3], ['a', 'b', 'c'], [True, False], (1, 'a', True)]

### a. Append a new list – *“sparta”,123+ to my_list

In [73]:
new_list = ['sparta',123]
print(new_list)

['sparta', 123]

In [75]:
my_list.append(new_list)
print(my_list)

[[1, 2, 3], ['a', 'b', 'c'], [True, False], (1, 'a', True), ['sparta', 123]]

### 4. Create a dictionary ‘fruit’ where:

#### a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)

In [95]:
Fruit = {'Fruit':('Apple','Banana','Mango','Guava')}
print(Fruit)
type(Fruit)

{'Fruit': ('Apple', 'Banana', 'Mango', 'Guava')}

dict

#### b. The second key is ‘Cost’ and the values are (85,54,120,70)

In [96]:
Fruit = {'Fruit':('Apple','Banana','Mango','Guava'),'Cost':(85,54,120,70)}
print(Fruit)
type(Fruit)

{'Fruit': ('Apple', 'Banana', 'Mango', 'Guava'), 'Cost': (85, 54, 120, 70)}

dict

#### c. Extract all the keys from ‘fruit’

In [97]:
Fruit.keys()

dict_keys(['Fruit', 'Cost'])

#### d. Extract all the values from ‘fruit’

In [98]:
for key, value in Fruit.items():
    if key == 'Fruit':
        print(value)

('Apple', 'Banana', 'Mango', 'Guava')

### 5. Create a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

In [101]:
my_set = {1,1,'a','a',True,True}
print(my_set)
type(my_set)

{1, 'a'}

set