In [54]:
# Python is a general purpose high level programming language (programmer friendly) used to develop applications such as
    # desktop applications ( calculator ), web applications, network applications, data science, machine learning(ML), 
    # neural netwroks( NN ), data analysis applications, deep learning applications ( DL ), artificial intelligence ( AI ).
# The user is not required to worry about low level activities such as memory management, storage, security, object destruction.

In [55]:
# Father of python - Guido Van Rossum.
# python is officially released in Feb 20th 1991.
# python is named after a comedy series named Monty Python's Flying Circus.

In [56]:
# Python as an all rounder has all the features available in all languages
    # procedure programming features - c language
    # object oriented proramming features - c++ and java
    # scripting language features - perl & shellscript
    # modular programming features - modula-3

In [57]:
# Features of python :
# ---------------------------------------------------------------------------------------------------------------------------
    # freeware and open source - free source so customization is possible.
    # simple and easy to use - 33 keywords.
    # high level programming language - programmer friendly language.
    # platform independent - works on windows, linux, mac but ** python virtual machine is platform dependent **.
    # portability - without changes or with changes can migrate from one platfrorm to another.
    # dynamically typed - we need not define type explicitily.
    # both procedure & object oriented programming language.
    # interpreted - we are not required to compile. Interpreter will compile.
    # entensible - we can use legacy non-python code ( for performance we can write c code and use python for overall 
        # improved performance )
    # embedded - we can use python code in any language apps ( jython for java, ironthon for c#.net )-so scope of python is 
        # improved
    # extensive library - python has an extensive library support ( numpy - mathematical support, pandas - import and
        # read data set,
    # matplotlib - to projecct data graphs ).

In [58]:
# Limitations of python :

# ---------------------------------------------------------------------------------------------------------------------------

    # Mobile applications - python does not have library support to develop mobile applications.
    # enterprise applications ( end to end enterprise applications ) such as banking, telecom - no library support.
    # performance is low  - python is an interpreted programming language so performance is low
    # so JIT compiler is added to PVM called pypy ( python for speed ) but it is not upto the mark.

In [59]:
# Flavours of python :

# ---------------------------------------------------------------------------------------------------------------------------

    # as python is freeware and open source ( access to source code ) so based on requirement we can customize python versions
        # so multiple flavours are possible
    # c python - standard flavour to work with c 
    # jython or j python - customized version to work with java and can work on JVM( Java Virtual Machine )
    # iron python - customized version to work with c#.net
    # ruby python - customized version to work with ruby platform
    # anaconda python - to work with big data and with machine language, data science , deep learning, neural networks, 
    # artificial intelligence because these contain extensive library to work with data science applications
    # specialized platform for data science platform
    # stackless - customized version to work for concurrent applications ( python for concurrency )
    # pypy - python for speed

In [60]:
# python identifiers - identifier is nothing but name ( variable name, class name, method name )
# Rules to define python variables

# ---------------------------------------------------------------------------------------------------------------------------

    # allowed characters in python are a-z, AtoZ, 0 to 9 and _.
    # variable name should not start with digits( 0 to 9 ) - Syntax error
    # python and python identifiers are case sensitive
    # there is no length limit in python - but lenghty names are not recommended as readability is going to de down and not a 
    # good programming practice
    # we cannot use reserved words as identifiers.

In [61]:
# variable meanings ( x = variable )
    # x = normal variable
    # _x = protected variable ( variable name starts with one _ )
    # __x = private variable ( variable name starts with two _ )
    # __x__ = magic variable ( variable name starts and ends with two _ )

In [62]:
# variables are entity of a program that hold a value
x=10
x

10

In [63]:
# python keywords / reserved words - there are 33 keywords in python

# ---------------------------------------------------------------------------------------------------------------------------

    # True, False, None
    # and, or, not, is
    # if, elif( elseif ), else
    # while, for, break, continue, return, in, yield
    # try, except, finally, raise, assert
    # import, from, as, class, def, pass
    # global, nonlocal, lambda, del, with.
    
# ---------------------------------------------------------------------------------------------------------------------------

# reserved words contain oly alphabets 
# except 3 all other contains lower case alphabets only( boolean values - True, False, None  ) - otherwise we get name error
# switch ( java, c ), do while loop - concepts are not there in python
# no int, float, complex, bool reserved words - as python is dynamically typed

In [64]:
# Import keyword list
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [65]:
# Fundamental data types - int, float, complex, bool, str
# Long data types available in python 2 but not in python 3 versions
# char data type is not available in python - char values can also be represented using str data type
# python is dynamically typed - no need to define type explicitily
# python interpreter will decide type based on value given

In [66]:
# data types - 14
# int, float, bool, complex, str
# list, tuple, set, frozenset, dict, bytes, bytearray, range, None.

In [67]:
# everything in python is an object
# type - python inbuilt function to know the type of an object
# id - to know the address of an object
# print - to print the value of an object.

In [ ]:
# IDLE and python console - these are REPL tools ( read, evalve, print, loop )
# they are not standard tools for python

In [68]:
# int data type - numbers without decimal points
# we can represent int values in 4 forms
    # decimal form ( base - 10 ) - 0 to 9 ( 2639198 )
    # binary form ( base - 2 ) - 0 and 1 ( eg. - 0b00110110 or 0B01111 )
    # octal form ( base - 8 ) - 0 to 7 ( 0o243163 or 0O35576 )
    # hexadecimal form ( base - 16 ) - 0 to 9 and a to f ( 0xface, 47aade )

In [72]:
# id's are different for float and complex numbers though the objects are same in jupyter, works fine in pycharm
# so a is b will be false for float and complex numbers only.

x=10
y=10
print(x is y)
print(id(x))
print(id(y))

s='#'*50
print(s)


a=10.5
b=10.5
print(a is b)
print(id(a))
print(id(b))

s='#'*50
print(s)


i=10+36j
v=10+36j
print(i is v)
print(id(i))
print(id(v))


s='#'*50
print(s)


s1='10'
s2='10'
print(s1 is s2)
print(id(s1))
print(id(s2))

True
140734209275968
140734209275968
##################################################
False
1973360446256
1973359934160
##################################################
False
1973360446480
1973360444880
##################################################
True
1973325254576
1973325254576

In [69]:
#Fundamental data type - int, float, bool, complex, str
# int data type
x = 10
print(type(x))

<class 'int'>

In [70]:
# float data type
f=274.75
type(f)

float

In [107]:
# bool data type
b = True
print(type(b))

<class 'bool'>

In [108]:
# complex data type
c = 10+56j
print(type(c))

<class 'complex'>

In [71]:
# string data type
s='python'
print(type(s))

<class 'str'>

In [109]:
# No need to define type explicitily in python
a = 10
print(type(a))

a = 10.5
print(type(a))

a = True
print(type(a))

a = 10+29j
print(type(a))

a = 'python'
print(type(a))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>
<class 'str'>

In [74]:
# types of int data types - decimal, binary, octal, hex
# decimal int data type - ( base 10 )
a = 465
print(type(a))

<class 'int'>

In [113]:
# binary value - ( base 2 ) python interprets in decimal format only - values - 0 and 1
# to represent binary values (use 0b or 0B)

a = 0b10101
print(a)
print(type(a))

x = 0B0111
print(x)

21
<class 'int'>
7

In [114]:
# to convert decimal to binary format use bin function
a = 21
print(bin(a))

0b10101

In [126]:
# octal value - (base 8) values from 0 to 7
a = 743
print(a)
print(type(a))

# to represent oct values (use 0o or 0O)
b = 0o743
print(b)
print(type(b))

c = 0O534
print(c)

743
<class 'int'>
483
<class 'int'>
348

In [124]:
# to convert decimal values to oct form use - oct function

x = (oct(743))
print(x)
print("octal form of a : " + oct(a))

0o1347
<class 'str'>
octal form of a : 0o1347

In [127]:
# hexa type - 0 to 9 and a to f (represents a-10, b-11, c-12, d-13, e-14, f-15)
a = 0xface
print(a)

64206

In [131]:
# to convert decimal form to hexa value
a = 64206
print(hex(a))

0xface

In [133]:
# float data type - decimal point values

a = 1.2345
print(type(a))

# float data types doesn't have binary, oct or hex forms
# float values can be used in exponential forms as well
# advantage - within less space we can represent bigger values

a = 1.238e3
print(a)

# or plus(+) sign can be used as well
a = 1.238e+8
print(a)

# exponential values can be used to denote negative values as well
a = 1238e-5
print(a)

a = -1238e-3
print(a)

<class 'float'>
1238.0
123800000.0
0.01238
-1.238

In [ ]:
# complex data types - python specific data type
# used for scientific applications ,mathematical applications or electrical engineering applications
# syntax of complex data type = (a+bj or a+bJ (a=realpart) (b=imaginary part) (jsquare = -1 or j=root of -1))

x = 10 + 20j
print(type(x))
print(x)

# to know the real part
print(x.real)
# int ( dec, bin , oct , hex ) and float data types can be used in real part of complex number/ data type.

# to know imaginary part
print(x.imag)
# both int(only decimal) and float values can be used in imaginary part


x = -4.6 - 1.1j
print(type(x))
print(x)
# to know the real part
print(x.real)
# to know imaginary part
print(x.imag)


# both int float values can be used as real and imaginary part
x = -4.6e5 - 1.1e-6j
print(type(x))
print(x)
# to know the real part
print(x.real)
# to know imaginary part
print(x.imag)


x = -0b1111 + 12j
print(type(x))
print(x)
# to know the real part
print(x.real)
# to know imaginary part
print(x.imag)


x = 15 - 134j
print(x.real)
print(bin(int(x.real)))
print(x.imag)
print(type(x.real))

In [134]:
# Hexadecimal complex 

x = 0xface - 134j
print(x.real)
print(type(x.real))
print(hex(int(x.real)))

64206.0
<class 'float'>
0xface

------------------------------------

In [80]:
# bool data type - to represent logical values True and False
a = True
print(a)
print(type(a))

a = 10
b = 20
c = a > b
print(c)

a = 10
b = 20
c = a < b
print(c)
print(type(c))

True
<class 'bool'>
False
True
<class 'bool'>

In [81]:
# Arithmatic operations can also be performed on bool values - True = 1, False = 0

a = True + True
print(a)

a = True + False
print(a)

a = True - False
print(a)

a = True * False
print(a)

a = False - True
print(a)
print(type(a))

2
1
1
0
-1
<class 'int'>

In [ ]:
# string data type - using single, double and triple quotes

a = 'str data type'
print(a)
print(type(a))

a = "str data type"
print(a)
print(type(a))

In [136]:
# Triple Quotes - ''' or """

a = """triple double quotes str data type"""
print(a)
print(type(a))

a = '''triple single quotes str data type'''
print(a)
print(type(a))

# a. can be used for multi-line string lateral

a = """triple double quotes 
            str data type"""
print(a)
print(type(a))

# b. can be used to use quotes as characters

# to use single quotes as characters we can use double quotes
x = "triple double 'quotes' str data type"
print(x)

# to use double quotes as characters we can use single quotes
x = 'triple double "quotes" str data type'
print(x)

# to use both double and single quotes or to use more than 1 double or single quotes we can use triple quotes
a = """'triple double quotes' 'str data type'"""
print(a)


# b. can be used to use quotes as characters
a = """'triple double quote's' 'str data type'"""
print(a)


# c. to define doc string

triple double quotes str data type
<class 'str'>
triple single quotes str data type
<class 'str'>
triple double quotes
            str data type
<class 'str'>
triple double 'quotes' str data type
triple double "quotes" str data type
'triple double quotes' 'str data type'
'triple double quote's' 'str data type'

In [137]:
# index - to extract a character from a string(both positive index and negative index)

a = 'Index Function'
print(a[7])
print(a[4])

# negative index - - values can also be used  and values will be counted from right to left

a = 'Index function'
print(a[-5])

u
x
c

In [6]:
# Slice operator - python specific operator - to extract a piece of a string
# syntax - variable name[begin:end] - returns characters from begin index to end-1 index

a = 'slice operator is a python specific operator'
print(a[6:26])
print(a[20:])
print(a[:26])

# applications of slice operator
# 1.

a = 'anitha'
print(a[0:3])

# convert first character to upper case keeping all the characcters the same

a = 'anitha'
print(len(a))
new = (a[0].upper() + a[1:])
print(new)

# convert last character to upper case
a = 'anitha'
new1 = (a[0:len(a) - 1] + a[-1].upper())
print(new1)

# convert first and last character to upper case

a = 'anitha'
new2 = (a[0].upper() + a[1:len(a) - 1] + a[-1].upper())
print(new2)

print("\n------------------------------------\n")

a = 'slice operator is a python specific operator'
# to print alternate characters

alta=(a[::2])
print(alta)

operator is a python
python specific operator
slice operator is a python
ani
6
Anitha
anithA
AnithA

------------------------------------

sieoeao sapto pcfcoeao

In [139]:
# + operator = both arguments must be string

a = 'python' + ' programming'
print(a)

# * operator = string repetition operator - one of the argument has to be string and the other int

a = 'python_' * 3
print(a)

# or

a = 3 * 'python_'
print(a)

# a = 'python'*'software'
# print(a)
# TypeError: can't multiply sequence by non-int of type 'str'

python programming
python_python_python_
python_python_python_

In [86]:
# Typecasting - converting from one form of data type to another form of data type
# 1.int
# float to int
a = 10.5683
print(int(a))

10

In [87]:
# # complex to int - TypeError: can't convert complex to int
# a = 10+20j
# print(int(a))

In [88]:
# bool to int - True = 1 and False = 0
a = True
print(int(a))

a = False
print(int(a))

1
0

In [89]:
# str to int type - str should contain only int value and base of 10

a = '5748'
print(int(a))

# cant convert float string values to int type - ValueError: invalid literal for int() with base 10
# a = '10.09364'
# print(int(a))

5748

In [90]:
# other types to float type

#  int to float
a = 18
print(float(a))

18.0

In [91]:
# complex to float - TypeError: can't convert complex to float
# a = 10.5+45.98j
# print(float(a))

In [92]:
# bool to float - True = 1.0 anf False = 0.0
a = True
print(float(a))

a = False
print(float(a))

1.0
0.0

In [93]:
# str to float - internally str should contain int value and should be base of 10

a = '367'
print(float(a))

367.0

In [94]:
# other data types to complex data types
# int to complex type - 1 arg becomes real part

a = 648
print(complex(a))
# binary form
a = 0b1111
print(complex(a))

a = 658
b = 738
print(complex(a, b))

(648+0j)
(15+0j)
(658+738j)

In [95]:
# float to complex

a = 38.6
print(complex(a))

a = 72.5
b = 28.4
print(complex(a, b))

(38.6+0j)
(72.5+28.4j)

In [96]:
# bool to complex - True = 1 and False = 0

a = True
print(complex(a))

a = False
print(complex(a))

a = True
b = True
print(complex(a, b))

(1+0j)
0j
(1+1j)

In [97]:
# str to complex
print(complex('464'))
print(complex('45.7'))

# complex('10','20') - TypeError: complex() can't take second arg if first is a string
# complex(10,'35') - TypeError: complex() second arg can't be a string

(464+0j)
(45.7+0j)

In [98]:
# other form to bool tye - any other value other than 0 is true
# int to bool form
a = 10
print(bool(a))

a = 0b1111
print(bool(a))

a = 0
print(bool(a))

a = -0.00001
print(bool(a))

True
True
False
True

In [99]:
# float to bool

a = 10.4
print(bool(a))

a = 0.0
print(bool(a))

print("\n------------------------------------\n")

True
False

------------------------------------

In [100]:
# complex to bool

print(bool(0+0j))
print(bool(1+0j))
print(bool(0+1j))

print("\n------------------------------------\n")

False
True
True

------------------------------------

In [101]:
# str to bool - empty string means false and any value in str means true

a = ''
print(bool(a))

a = 'anitha'
print(bool(a))

a = '0b1111'
print(bool(a))

print("\n------------------------------------\n")

False
True
True

------------------------------------

In [102]:
# string function
# other data types to str type using str function

# int to str type

a = 101
print(str(a))

a = 0b11111
print(str(a))

a = 0xface
print(str(a))

101
31
64206

In [103]:
# float to str

a = 110.56
print(str(a))
print(type(str(a)))

110.56
<class 'str'>

In [104]:
# bool to str

a = True
print(type(a))
print(str(a))
print(type(str(a)))

print (50*'#')

a = 10+56j
print(type(a))
print(str(a))
print(type(str(a)))

<class 'bool'>
True
<class 'str'>
##################################################
<class 'complex'>
(10+56j)
<class 'str'>

In [105]:
# Immutability - In python we cannot change an object if we try to change PVM will create a new object
# python objects is immune to changes. this is called immutability

x = 38
print(id(x))
y = x
print(id(y))
print("both x and y id will be same coz pvm' will assign the same 'x' value to y variable")

print (50*'#')

y = y+10
print(y)
print(id(x))
print(id(y))
print("y will have different id's")

print (50*'#')

x = 1
print(id(x))
x = x+1
print(x)
print(id(x))
print("X will have different id's")

140734209276864
140734209276864
both x and y id will be same coz pvm' will assign the same 'x' value to y variable
##################################################
48
140734209276864
140734209277184
y will have different id's
##################################################
140734209275680
2
140734209275712
X will have different id's

In [ ]:
# immutable - nonchangeable
# Advantages of immutabiliy - memory utilization (coz create operation is more costly than search operation )
# performance is improved.

In [ ]:
# all the fundamental data types are immutable 
# object reusability is not there for complex data type
# if there is single value we use fundamental data types for a group of values as a single entity 
# we use other data types such as
# list - []
# tuple()
# set {}
# frozenset - frozenset{}
# dict - {keyvalue:pair}
# bytes - bytes[]
# bytearray - bytearrar[]
# range - ()

In [ ]:
# list data type - mutable ( denoted by  [ ] )

# ---------------------------------------------------------------------------------------------------------------------------

# collection of objects where order is important .
# duplicates are allowed
# order is maintained
# heterogenous objects are allowed [10, 'python', 10, 30, 20, 20]
# indexing and slicing can be done coz order is maintained
# growable in nature ( append and remove functions can be used to add or remove elements )
# Append - to add an element
# remove - to remove an element

In [59]:
# to print list
l1 = [10,'python',20,20,10,40]
print(type(l1))
print ('l1:',(l1))

l2 = [10,'python',20,20,10,40]
print(type(l2))
print ('l2:',(l2))

# id's of l1 and l2 are different though the content is same
# is operator is used for reference comparision so we get False though the content is same 
# coz there is no object reusability in collection data types

print(l1 is l2)


# equality operator (==) is used for content comparision so we get true coz the content is same for l1 and l2

print(l1==l2)

<class 'list'>
l1: [10, 'python', 20, 20, 10, 40]
<class 'list'>
l2: [10, 'python', 20, 20, 10, 40]
False
True

In [17]:
# index and slice functions in list
# Index - to extract a character from a particular position

print (l1[0]) # to extract a character from 0th position from l1

print (l2[5]) # to extract a character from 5th position from l2

# if we use negative index then pvm will calculate from right to left and the indexing will start from -1

print (l1[-3]) # pvm is calculating from right to left hence, the ans is 20 from right to left

10
40
20

In [23]:
# slice function - to extract a substring from a string - [ begin:end ]
# we get result from begin index to end-1 index

print(l2[1:5]) # we get elements from 1st position to end-1 that is 5-1 4th position

print(l1[:4]) # if we dont mention anything in the begin index we get elements from starting

print(l1[2:]) # if we dont mention anything in the end index we get elements begin index to last

print(l2[4:100]) # if we mention end index out of range we get all the elements till the last

# there is no negative slicing or negative index in slice function

['python', 20, 20, 10]
[10, 'python', 20, 20]
[20, 20, 10, 40]
[10, 40]

In [44]:
# appending elements to list - append function

# to create empty list data set

l=[ ]
print(l)

# adding new elements to empty data set

l.append(10)
l.append('python')
l.append(10.5)
l.append(10+67j)
l.append(True)

print(l)

[]
[10, 'python', 10.5, (10+67j), True]

In [46]:
# Removing elements from list - remove function 

print(l)

l.remove(10.5)
l.remove(True)

print(l)

[10, 'python', 10.5, (10+67j), True]
[10, 'python', (10+67j)]

In [65]:
# list is mutable so we can change content 

l1=[10, 'python', 20, 20, 10, 40]

l1[3]=100
l1[5]=52

print(l1)

[10, 'python', 20, 100, 10, 52]

In [66]:
# tuple data type - same as list but it is immutable
# collection of objects where order is important 

t=(46,59,'programming,',True,84.98,24+67j,59,'programming')
print(type(t))
print(t)

<class 'tuple'>
(46, 59, 'programming,', True, 84.98, (24+67j), 59, 'programming')

In [72]:
# indexing and slicing can also be done in tuple

t=(46,59,'programming,',True,84.98,24+67j,59,'programming')

print (t[2])

print(t[-5]) # negative index

# --------------------------------------------------------------------------------------------------------------------------

# if we call out of range index we get error
# print (t[10])
# IndexError                                Traceback (most recent call last)
# <ipython-input-72-9a4efbbdb623> in <module>
#      6 print(t[-5]) # negative index
#      7 
# ----> 8 print (t[10])
# 
# IndexError: tuple index out of range

programming,
True

IndexError: tuple index out of range

In [77]:
# slice function in tuple [begin:end]

t=(46,59,'programming,',True,84.98,24+67j,59,'programming')

print(t[2:6])

print(t[:5])

print(t[3:])

('programming,', True, 84.98, (24+67j))
(46, 59, 'programming,', True, 84.98)
(True, 84.98, (24+67j), 59, 'programming')

In [84]:
# we cannot append, change or remove elements from tuple coz tuple is immutable if we try to then we get error

# t=(46,59,'programming,',True,84.98,24+67j,59,'programming')

# t[3]=False
# TypeError                                 Traceback (most recent call last)
# <ipython-input-82-a745d4bf30f5> in <module>
#       3 t=(46,59,'programming,',True,84.98,24+67j,59,'programming')
#       4 
# ----> 5 t[3]=False

# TypeError: 'tuple' object does not support item assignment

# ---------------------------------------------------------------------------------------------------------------------------

# t.append(68)

# AttributeError                            Traceback (most recent call last)
# <ipython-input-83-d12bfb7585b9> in <module>
#      12 # TypeError: 'tuple' object does not support item assignment
#      13 
# ---> 14 t.append(68)

# AttributeError: 'tuple' object has no attribute 'append'

# ---------------------------------------------------------------------------------------------------------------------------

# t.remove(True)

# AttributeError                            Traceback (most recent call last)
# <ipython-input-84-c97967c4c0f1> in <module>
#      22 # AttributeError: 'tuple' object has no attribute 'append'
#      23 
# ---> 24 t.remove(True)

# AttributeError: 'tuple' object has no attribute 'remove'

AttributeError: 'tuple' object has no attribute 'remove'

In [25]:
# to create empty tuple

t=()

print(type(t))

# creating tuple with single value we get the type as int type

t=(10)
print(type(t))

# so we have to put a comma(,) to get the data type as tuple

t=(10,)
print(type(t))

<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [ ]:
# characteristics of tuple
# -------------------------
# collection of objects where order is important .
# duplicates are allowed
# order is maintained
# heterogenous objects are allowed 
# indexing and slicing can be done coz order is maintained
# immutable

In [92]:
# set data type - { }

# ---------------------------------------------------------------------------------------------------------------------------
# collection of random unique objects 
# denoted by { }

s1={20,46,89,16,'python',True,38+67j,22}
print(type(s1))
print(s1)

s2={20,89,'python',True,38+67j,16,46,22}
print(type(s2))
print(s2)

s3={22,'python',38+67j,20,46,16,True,89}
print(type(s3))
print(s3)

s1==s2==s3 # content is same equality operator

<class 'set'>
{True, 'python', 46, (38+67j), 16, 20, 22, 89}
<class 'set'>
{True, 'python', 46, (38+67j), 16, 20, 22, 89}
<class 'set'>
{True, 'python', 46, (38+67j), 16, 20, 22, 89}

True

In [96]:
# indexing and slicing are not applicable in set coz there is no order

# s1={22,'python',38+67j,20,46,16,True,89}

# print(s1[3])
# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# <ipython-input-96-5d5143b4582f> in <module>
#       3 s1={22,'python',38+67j,20,46,16,True,89}
#       4 
# ----> 5 print(s1[3])

# TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [97]:
# slicing also not applicable for set data type

# s1={22,'python',38+67j,20,46,16,True,89}

# print(s1[0:3])
# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# <ipython-input-97-b05e8a971596> in <module>
#       3 s1={22,'python',38+67j,20,46,16,True,89}
#       4 
# ----> 5 print(s1[0:3])

# TypeError: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [108]:
# we can add and remove objects in set data type

s1={22,'python',38+67j,20,46,16,True,89}
print (s1)

s1.add(50)
s1.add(100)
s1.add(183)

print(s1)

s1.remove(89)
s1.remove(46)
s1.remove(22)

print(s1)

{True, 'python', 46, (38+67j), 16, 20, 22, 89}
{True, 'python', 100, 46, (38+67j), 16, 50, 20, 22, 183, 89}
{True, 'python', 100, (38+67j), 16, 50, 20, 183}

In [114]:
# to create empty set
# empty set data type indicates dict

s={}
print(type(s))

# to create empty set

s=set()
print(type(s))

<class 'dict'>
<class 'set'>

In [ ]:
# characteristics of set
# -------------------------
# collection of unique objects - so no duplicates
# order is not preserved
# heterogenous objects are allowed 
# indexing and slicing cannot be done coz order is not preserved
# mutable
# growable in nature

In [115]:
# frozenset - same as set but frozen set is immutable

s={22,'python',38+67j,20,46,16,True,89}

fs=frozenset(s)
print(type(fs))
print(fs)

<class 'frozenset'>
frozenset({True, 'python', 46, (38+67j), 16, 20, 22, 89})

In [ ]:
# as frozenset is immutable we cannot add or remove the objects
# indexing and slicing is not applicable as order is not preserved 

# add and removefunction in frozenset we get attribute error
# index and slice function in frozenset we get type error

In [117]:
# dict data type - { } - {key:value }
# dict data type can be used to represent key value pairs eg: roll no:name, mobile no.:address
# dict = dictionary

# d={k1:v1,k2:v2,k3:v3.....kn:vn}

d={95:'python',20:'software',35:'programming'}
print(type(d))
print(d)

<class 'dict'>
{95: 'python', 20: 'software', 35: 'programming'}

In [127]:

#  to create empty dict

d={}
print(d)

# to add key and value to the dict - d[key]=value
# order is not preserved
d[95]='python'
d[20]='sotware'
d[35]='programming'
print(d)

{}
{95: 'python', 20: 'sftware', 35: 'programming'}

In [135]:
# duplicate keys are not allowed but duplicate values are allowed

d={95:'python',20:'software',35:'programming'}

d[100]='python'
d[60]='python'
d[95]='learning'

print(d)

# in the above example 'python' value for 95 key is replaced with new 'learning' value

{95: 'learning', 20: 'software', 35: 'programming', 100: 'python', 60: 'python'}

In [ ]:
# characteristics of dict
# a group of keyvalue pairs 
# order is not applicable
# duplicate keys are not allowed but values can be duplicated
# heterogenous objects are allowed for key and value
# mutable
# indexing and slicing are not applicable

In [140]:
# range data type - most commonly used data
# to represent a sequence or range of numbers
# range is an inbuilt function in python
# range can be represented in three forms
# form - 1
# range(n) - represents sequence of numbers from 0 to n

r=range(10)
print(type(r))
print(r)

for x in r:
    print(x)

<class 'range'>
range(0, 10)
0
1
2
3
4
5
6
7
8
9

In [142]:
# form - 2
# = range(begin,end) - represents sequence of numbers from begin to end-1

r2=range(10,21)
print(type(r2))
print(r2)

for x in r2:
    print(x)

<class 'range'>
range(10, 21)
10
11
12
13
14
15
16
17
18
19
20

In [147]:
# form - 3
# = range(begin,end,increment or decrement value) - represents sequence of numbers from begin to end-1 incrementing 
# or decrementing by the given value

r3=range(0,50,5)
print(type(r3))
print(r3)

for x in r3:
    print(x)


# decrementing by 5

r3d=range(50,0,-5)
print(type(r3d))
print(r3d)

for x in r3d:
    print(x)

<class 'range'>
range(0, 50, 5)
0
5
10
15
20
25
30
35
40
45
<class 'range'>
range(50, 0, -5)
50
45
40
35
30
25
20
15
10
5

In [154]:
# indexing and slicing is applicable for range data type coz order is preserved
# index

r=range(20,30)

for x in r:
    print(x)

print(80*'-')
    
print(r[4])
print(r[-8])

20
21
22
23
24
25
26
27
28
29
--------------------------------------------------------------------------------
24
22

In [160]:
# slice function

r=range(50,70)
print(r)
    
print(100*'=')

r1=r[0:5]
for x in r1:
    print(x)

range(50, 70)
====================================================================================================
50
51
52
53
54

In [164]:
# add or remove an element

# r=range(10)

# r[3]=100

# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# <ipython-input-161-92517b466e2e> in <module>
#       3 r=range(10)
#       4 
# ----> 5 r[3]=100

# TypeError: 'range' object does not support item assignment
    
# r.add(100)

# ---------------------------------------------------------------------------
# AttributeError                            Traceback (most recent call last)
# <ipython-input-163-12b8e07001ef> in <module>
#      14 # TypeError: 'range' object does not support item assignment
#      15 
# ---> 16 r.add(100)

# AttributeError: 'range' object has no attribute 'add'

# r.remove(5)
# ---------------------------------------------------------------------------
# AttributeError                            Traceback (most recent call last)
# <ipython-input-164-057f89a29886> in <module>
#      25 # AttributeError: 'range' object has no attribute 'add'
#      26 
# ---> 27 r.remove(5)

# AttributeError: 'range' object has no attribute 'remove'

AttributeError: 'range' object has no attribute 'remove'

In [ ]:
# characteristics of range
# an ordered sequence of numbers
# order is maintained
# duplicates are not allowed
# indexing and slicing are applicable
# add or remove functions are not applicable
# immutable

In [10]:
# bytes data types
# to represent a group of byte values we use bytes data type

# to write byte data types we use bytes function

l=[10,20,30,40,50]

b=bytes(l)
print(type(b))
for x in b:
    print(x)

<class 'bytes'>
10
20
30
40
50

In [12]:
# we use bytes data type to handle binary data - images, video bytes, audio bytes

# bytes data type can only represent values from 0 to 255

# if we use out of range values we get value error

# l=[10,20,30,40,256]
# b=bytes(l)

# for x in b:
#     print(x)
    
# ---------------------------------------------------------------------------
# ValueError                                Traceback (most recent call last)
# <ipython-input-11-bbde06554f56> in <module>
#       3 
#       4 l=[10,20,30,40,256]
# ----> 5 b=bytes(l)
#       6 
#       7 for x in b:

# ValueError: bytes must be in range(0, 256)

l=[10,20,30,40,255]
b=bytes(l)

for x in b:
    print(x)

10
20
30
40
255

In [23]:
# bytes data type is immutable - we cannot change its values

l=[10,20,30,40,255]
b=bytes(l)

for x in b:
    print(x)

print(100*'-')

# extracting the value from 4th index
print(b[4])

# changing the value at the 4th index

# b[5]=50
# ---------------------------------------------------------------------------
# TypeError                                 Traceback (most recent call last)
# <ipython-input-23-f552362a5337> in <module>
#      14 # changing the value at the 4th index
#      15 
# ---> 16 b[5]=50

# TypeError: 'bytes' object does not support item assignment

10
20
30
40
255
----------------------------------------------------------------------------------------------------
255

TypeError: 'bytes' object does not support item assignment

In [38]:
# indexing and slicing concepts are applicable in bytes data types

l=[10,20,30,40,50,60,70,80,70]
b=bytes(l)

for x in b:
    print(x)

print(100*'-')

# to know the length 

print(len(b))

print(100*'-')

# index 

print(b[4],b[6],b[8])

# slice function

b1=b[2:9]
for x in b1:
    print(x)

print(100*'-')

b2=b[:5]
for x in b2:
    print(x)
    
print(100*'-') 

b3=b[4:]
for x in b3:
    print(x)

10
20
30
40
50
60
70
80
70
----------------------------------------------------------------------------------------------------
9
----------------------------------------------------------------------------------------------------
50 70 70
30
40
50
60
70
80
70
----------------------------------------------------------------------------------------------------
10
20
30
40
50
----------------------------------------------------------------------------------------------------
50
60
70
80
70

In [ ]:
# characteristics of bytes
# order is maintained
# duplicates are allowed
# indexing and slicing are applicable
# add or remove functions are not applicable
# immutable

In [44]:
# bytearray data types - mutable
# -------------------------------------------------
# same as bytes but bytearray is mutable

l=[10,20,30,50,60,60,60]
b=bytearray(l)
print(type(b))
for x in b:
    print(x)
    
#  we can change values in bytearray

print(len(b))

b[5]=80

for x in b:
    print(x)

<class 'bytearray'>
10
20
30
50
60
60
60
7
10
20
30
50
60
80
60

In [52]:
#  index and slice functions in bytesarray

print(b[6],b[5],b[0])

b1=b[3:7]
for x in b1:
    print(x)

60 80 10
50
60
80
60

In [ ]:
# characteristics of bytearray
# order is maintained
# duplicates are allowed
# indexing and slicing are applicable
# add or remove functions are not applicable
# mutable

In [57]:
# none data type - no value associated
# handling of data with no value
# throughout python only one none object is present

a=10
print(type(a))

a=None
print(type(a))
print(a)

a=None
b=None
c=None
def f1():
    pass
d=f1()
print(id(a),id(b),id(c),id(d)) # same id's for all the none objects.

<class 'int'>
<class 'NoneType'>
None
140734238599296 140734238599296 140734238599296 140734238599296